/*-------Generated styles -----*/
/*.App {
  text-align: center;
}
*/

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/*-----------Body---------------------*/
#page-content {
  max-width: 700px;
  margin: auto;
  padding-top: 20px;
}

/*-----------Nav bar styles-------------*/
.myNavBar ul {
  text-align: center;
  border-style: none none solid none;
  margin: 0;
  padding: 0;
}

.myNavBar li {
  display: inline-flex;
}

.myNavBar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.myNavBar li a:hover {
  background-color: rgb(223, 223, 223);
}

/*----------- header + footer -------------*/
footer {
  /*position: fixed; footer always stays in view*/
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(248, 247, 247);
  color: rgb(199, 199, 199);
  text-align: center;
  box-shadow: 0 50vh 0 50vh rgb(248, 247, 247);  /*fill footer to the bottom of page*/
  margin-top: 20px;
  padding-top: 10px;
}

/*-----------guitar---------------*/
.guitar {
  display: inline-flex;
}

/*----------- fretboard -------------*/
.note {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  margin: 0px;
  min-width: 20px;
}

.note-scale {
  background-color: rgb(187, 193, 197);
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  margin: 0px;
  min-width: 20px;
}

.note-root {
  background-color: rgb(148, 147, 147);
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  margin: 0px;
  min-width: 20px;
}

/*---------tunner-------------------*/
.tunner input{
  display: block;
  margin: 20px;
  width: 50px;
}

/*----------key selector ------------*/
.choose-key li {
  display: inline;
  padding: 5px;
}

.choose-key li:hover {
  background-color: rgb(187, 193, 197);
  cursor: pointer;
}
